@font-face{
    src: url(font/OpenSans/OpenSans-Bold.ttf);
    font-family: OpenSansBold;
}

@font-face{
    src: url(font/OpenSans/OpenSans-BoldItalic.ttf);
    font-family: OpenSansBoldItalic;
}

@font-face{
    src: url(font/OpenSans/OpenSans-ExtraBold.ttf);
    font-family: OpenSansExtraBold;
}

@font-face{
    src: url(font/OpenSans/OpenSans-ExtraBoldItalic.ttf);
    font-family: OpenSansExtraBoldItalic;
}

@font-face{
    src: url(font/OpenSans/OpenSans-Italic.ttf);
    font-family: OpenSansItalic;
}

@font-face{
    src: url(font/OpenSans/OpenSans-Light.ttf);
    font-family: OpenSansLight;
}

@font-face{
    src: url(font/OpenSans/OpenSans-LightItalic.ttf);
    font-family: OpenSansLightItalic;
}

@font-face{
    src: url(font/OpenSans/OpenSans-Regular.ttf);
    font-family: OpenSansRegular;
}

@font-face{
    src: url(font/OpenSans/OpenSans-SemiBold.ttf);
    font-family: OpenSansSemiBold;
}

@font-face{
    src: url(font/OpenSans/OpenSans-SemiBoldItalic.ttf);
    font-family: OpenSansSemiBoldItalic;
}
